

.barraFiltros{
    display: flex;
    background-color: $bg_barraFiltros;
    


    @media(max-width: $media_900){
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }
    
    
    span{
        
        padding: 1rem;
        border-right: 3px solid $bg;
        font-weight: bold;


        @media(max-width: $media_900){
             border: none;  
        }
    }

    span:last-child{
        border: none;
    }



    ul{
        display: inline;
        padding: 1rem;
        font-size: 0.6rem;
        li{
            display: inline;
            background-color: $bg;
            margin: 0.2rem;
            padding: 0.5rem;
            text-transform: uppercase;
        }


    }

    .input-wrapper {
        position: relative;
        width: 100%;
      }

      .input {
        // color: #191919;
        width: 100%;
        padding: 0.25rem 1.5rem;
        border:none;
        //Código de sombras
        box-shadow: 1px 5px 9px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 5px 9px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 9px -3px rgba(0,0,0,0.75);
    }
    
    .input-icon {
          
        position: absolute;
        width: 20px;
        height: 20px;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }

}


.hideOn900{
    @media(max-width: $media_900){
        display: none;
    }
}