

.navBar-container{
        display: flex;
        justify-content: space-around;
        padding: 4px 0;
        
        box-shadow: 1px 5px 9px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 5px 9px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 9px -3px rgba(0,0,0,0.75);
        
}

.active{
    padding: 0.5rem;
    font-weight: bold;
    color: black;
    border-bottom: 4px solid $bordercolor_onActive;
    text-decoration: none;
    text-transform: uppercase;
}

.noActive{
    color: black;
    padding: 0.5rem;
    border-bottom: none;
    text-decoration: none;
    text-transform: uppercase;
}



.menu_derecho{
    display: flex;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;

    span{
        padding-right: 0.5rem;
    }
}