

.logOut_icon{
    background-color: $bg_logout;
    color: #FEFEFE;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


  progress {
    border-radius: 1px; 
    width: 4rem;
    padding-left: 0.5rem;
}
  progress::-webkit-progress-bar {
    background-color: #FFC36A;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #FF906B;
    border-radius: 7px 0px 0px 7px;
   
  }
 

