$bg_container: #F5F4F1;

.informacion-container{
    background-color: $bg_container;

    section{
        padding: 0.5rem 10rem;

        @media(max-width: $media_900){
       
        
            padding: 0.5rem 0.4rem;
    
            
        }
    }
    
}



.intro-container{
    display: flex;
    justify-content: space-between;
}

.table-container{
    width: 100%;
    border-collapse:collapse;
  
    
    
}